// ***** Background palette *****
$lightblue-bg: #cae2e8;
$blue-bg: #95cbde;
$white: #ffffff;


//***** Text palette *****
$primary-blue-txt: #00b9ad;
$highlight-orange-txt: #e4a123;
$primary-black-txt: #555555;
$tinted-grey-txt: #999999;


//***** Default variables *****
$border-radius: 5px;
$font-size: 12px;
